@model ReceptionProcam.Areas.Area.Models.clsAssetIssueDetails

@{
    ViewBag.Title = "AssetsIssue";
    Layout = "~/Areas/Area/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $(".js-example-placeholder-multiple").select2({
                placeholder: "Select",
                allowClear: true
            });
            $('.selectpicker').selectpicker({
                liveSearch: true,
                //showSubtext: true
            });
        });
    </script>

}
@if (TempData["Success"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}
@if (TempData["SuccessSubmit"] != null)
{
     <p class="alert alert-success" id="successMessage">@TempData["SuccessSubmit"]</p>
}
@using (Html.BeginForm("AssetIssue", "AssetManagement", new { }))
{
    @Html.AntiForgeryToken()
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        Assets Issue
                    </h3>
                </div>

            </div>
        </div>
        <!--begin::Form-->
        <div class="m-portlet__body">

            <div class="form-group m-form__group row">
                <div class="col-lg-4">
                    @Html.LabelFor(model => model.EmpId, htmlAttributes: new { })<span class="text-danger">*</span>
                    @Html.DropDownListFor(model => model.EmpId,
                                            (IEnumerable<SelectListItem>)ViewBag.EmployeeList,
                                            "--Select Employee--", new { @Id = "employeeID", autocomplete = "off", @class = "form-control selectpicker" })
                    <p class="help-block">@Html.ValidationMessageFor(m => m.EmpId, "", new { @class = "text-danger" })</p>
                </div>

            </div>
            <div class="form-group m-form__group row">
                <div class="col-lg-6">
                    @Html.LabelFor(model => model.AssetId, htmlAttributes: new { })<span class="text-danger">*</span><br />
                    @Html.ListBoxFor(model => model.AssetId, ViewBag.AllAssets as SelectList, new { Id = "lbAssets", @class = "form-control js-example-placeholder-multiple" })
                </div>
            </div>

            @*@Html.HiddenFor(model => model.TimeIn, htmlAttributes: new { @Id = "hfTimeIn" })*@
        </div>
        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--solid">
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-8">
                        <button type="submit" class="btn btn-primary" id="SubmitBtn">
                            Submit
                        </button>
                        <button type="reset" class="btn btn-secondary" onclick="@("window.location.href='" + @Url.Action("AssetIssue", "AssetManagement") + "'");">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
}
